AgroTemp.API/bin
AgroTemp.API/obj
AgroTemp.Domain/bin
AgroTemp.Repository/bin
AgroTemp.Service/bin
AgroTemp.Service/obj
AgroTemp.Repository/obj
AgroTemp.Domain/obj

# Don't commit development settings with secrets
appsettings.Development.json
/.vs
REAPPLY-COMPLETE.md
.idea
/AgroTemp.API/appsettings.Development.json
/AgroTemp.API/appsettings.json
PLAN_PUSH_NOTIFICATION.md
*.md
AgroTemp.API/secrets.json
